<form action="/cart" method="post">
    <button class="custom-btn btn-dark-shock" type="submit">
        <span>اضافه کردن</span>
    </button>
    <input type="hidden" name="productId" value="<%= product.id %>">
</form>