<div class="swiper-container" dir="rtl">
    <div class="swiper-wrapper">
        <% prods.forEach(product => { %>
        <div class="swiper-slide">
            <%- include('../includes/card.ejs',{product}) %>
        </div>
        <% }) %>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>