:root {
  --color-white: #fff;
  --color-light: #f7f9fa;
  --color-green: #3ddc84;
  --color-blue: #1a73e8;
  --color-txt-darker: #202124;
  --color-txt-dark: #5f6368;
}

@font-face {
  font-family: "iranyekan";
  src: url("../font/eot/iranyekanwebregular.eot");
  src: url("../font/eot/iranyekanwebregular.eot?#iefix") format("embedded-opentype"),
    url("../font/woff2/iranyekanwebregular.woff2") format("woff2"),
    url("../font/woff/iranyekanwebregular.woff") format("woff"),
    url("../font/ttf/iranyekanwebregular.ttf") format("truetype"),
    url("../font/svg/iranyekanwebregular.svg#svgFontName") format("svg");
  font-weight: bold;
}

@font-face {
  font-family: "iranyekan";
  src: url("../font/eot/iranyekanwebbold.eot");
  src: url("../font/eot/iranyekanwebbold.eot?#iefix") format("embedded-opentype"),
    url("../font/woff2/iranyekanwebbold.woff2") format("woff2"),
    url("../font/woff/iranyekanwebbold.woff") format("woff"),
    url("../font/ttf/iranyekanwebbold.ttf") format("truetype"),
    url("../font/svg/iranyekanwebbold.svg#svgFontName") format("svg");
  font-weight: normal;
}

@font-face {
  font-family: "iranyekan";
  src: url("../font/eot/iranyekanweblight.eot");
  src: url("../font/eot/iranyekanweblight.eot?#iefix") format("embedded-opentype"),
    url("../font/woff2/iranyekanweblight.woff2") format("woff2"),
    url("../font/woff/iranyekanweblight.woff") format("woff"),
    url("../font/ttf/iranyekanweblight.ttf") format("truetype"),
    url("../font/svg/iranyekanweblight.svg#svgFontName") format("svg");
  font-weight: lighter;
}

* {
  box-sizing: border-box;
  list-style: none;
  direction: rtl;
}

a:hover {
  text-decoration: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'iranyekan', 'Open Sans', sans-serif;
}

main {
  margin-top: 110px;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1009;
}

/* main-header__fixed-sec */
.main-header__fixed-sec {
  background-color: var(--color-white);
  height: 55px;
  z-index: 1;
  position: relative;
}

.logo {
  height: 100%;
  padding: .5rem 0;
}

.logo img {
  height: 100%;
}

.main-header__nav {
  margin-left: auto;
  height: 100%;
  margin-right: 1rem;
  display: none;
}

.main-header__nav-list,
.main-header__nav-cat-list {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.main-header__nav-item {
  height: 100%;
}

.main-header__nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .85rem;
  color: var(--color-txt-darker);
  border-bottom: 2px solid transparent;
  transition: 220ms ease-out;
  font-size: 14px;
  font-weight: bold;
}

.main-header__nav-link.active,
.main-header__nav-link:active,
.main-header__nav-link:hover {
  border-bottom: 2px solid var(--color-green);
  color: var(--color-txt-darker);
}

/* main-header__collapsible-sec */
.main-header__collapsible-sec {
  height: 55px;
  background-color: var(--color-light);
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 2px 6px 2px rgba(60, 64, 67, .15);
  position: relative;
  transition: 220ms ease-out;
}

.main-header__collapsible-sec.hidden {
  transform: translateY(-100%);
}

.main-header__nav-cat {
  display: none;
  height: 100%;
}

.main-header__nav-cat-link {
  padding: .45rem .75rem;
  margin: 0 .25rem;
  color: var(--color-txt-dark);
  transition: 220ms ease-out;
  font-size: 15px;
}

.main-header__nav-cat-link.active,
.main-header__nav-cat-link:active,
.main-header__nav-cat-link:hover {
  background: var(--color-white);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15), 0 1px 2px 0 rgba(60, 64, 67, 0.3);
  color: var(--color-txt-darker)8;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {

  .main-header__nav,
  .main-header__nav-cat {
    display: block;
  }
}

@media (min-width: 1200px) {}

/* .main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  display: none;
  align-items: center;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-header__item {
  margin: 0 1rem;
  padding: 0;
}

.main-header__item a {
  text-decoration: none;
  color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
  color: #ffeb3b;
} */

.mobile-nav {
  width: 30rem;
  height: 100vh;
  max-width: 90%;
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  z-index: 10;
  padding: 2rem 1rem 1rem 2rem;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.mobile-nav.open {
  transform: translateX(0);
}

.mobile-nav__item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-nav__item {
  margin: 1rem;
  padding: 0;
}

.mobile-nav__item a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.mobile-nav__item a:active,
.mobile-nav__item a:hover,
.mobile-nav__item a.active {
  background: #00695c;
  color: white;
  border-radius: 3px;
}

#side-menu-toggle {
  border: 1px solid white;
  font: inherit;
  padding: 0.5rem;
  display: block;
  background: transparent;
  color: white;
  cursor: pointer;
}

#side-menu-toggle:focus {
  outline: none;
}

#side-menu-toggle:active,
#side-menu-toggle:hover {
  color: #ffeb3b;
  border-color: #ffeb3b;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.card__header,
.card__content {
  padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
  margin: 0;
}

.card__image {
  width: 100%;
}

.card__image img {
  width: 100%;
}

.card__actions {
  padding: 1rem;
  text-align: center;
}

.card__actions button,
.card__actions a {
  margin: 0 0.25rem;
}

.btn {
  display: inline-block;
  padding: 0.25rem 1rem;
  text-decoration: none;
  font: inherit;
  border: 1px solid #00695c;
  color: #00695c;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #00695c;
  color: white;
}

@media (min-width: 768px) {
  #side-menu-toggle {
    display: none;
  }
}