.txt-subject {
    font-size: 1.75rem;
}

.txt-subject-b {
    font-size: 1.75rem;
    font-weight: bold;
}

.txt-title {
    font-size: 1.5rem;
}

.txt-title-b {
    font-size: 1.5rem;
    font-weight: bold;
}

.txt-subtitle {
    font-size: 1.25rem;
}

.txt-subtitle-b {
    font-size: 1.25rem;
    font-weight: bold;
}

.txt-p {
    font-size: 1rem;
}

.txt-p-b {
    font-size: 1rem;
    font-weight: bold;
}

.txt-caption {
    font-size: .85rem;
}

.txt-caption-b {
    font-size: .85rem;
    font-weight: bold;
}